*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    

}


.rotate{
    margin-top: 10%;
     height: 400px;
     width: 400px;
     border-radius: 50%;
     border: 12px solid white;
     border-right-color: blue;
     animation: rotate 2s ease infinite;
    
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}